<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link href="{% static 'css/flowbite.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'components/aside_bar.html' %}
    <div class="p-4 sm:ml-64">
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
<script src="{% static 'js/flowbite.js' %}"></script>
</html>
